* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "LeagueGothicRegular";
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"),
        url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'league-gothic';
    overflow-x: hidden;
}

main {
    /** display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; **/
    grid-area: "main";
}

footer {
    grid-area: "footer";
}

header {
    background: url(./images/background.png) no-repeat center center fixed;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    /** background: url(./images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; **/
    display: grid;
    grid-template-areas: "head"
        "main"
        "footer";
}

.container {
    max-width: 968px;
    margin: 0 auto;
}

.navigation-block-480 {
    display: none;
}

.navigation-block {
    color: #ffffff;
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    grid-area: "head";
    padding: 70px 0;
}

.dropdown {
    display: none;
}

.logo-img {
    margin-right: 150px;
    margin-bottom: 15px;
}

.navigation-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navigation-list li {
    margin-right: 42px;
}

.navigation-list li:last-child {
    margin-right: 0;
}

.navigtion-list li:first-child {
    margin-right: 175px;
}

.navigation-list a {
    text-decoration: none;
    color: white;
    padding: 5px 5px;
}

.navigation-list a:hover {
    border-bottom: 2px solid #eec0ff;
}

.marketing-description-wrapper {
    padding-bottom: 100px;
}

.marketing-description {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.marketing-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    margin-bottom: 170px;
}

.marketing-text {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 120px;
}

.marketing-text h1 {
    font-size: 60px;
    color: #fff;
}

.marketing-text h2 {
    color: #edbfff;
    font-size: 32px;
}

.marketing-text p {
    font-size: 18px;
    color: #fff;
}

.marketing-text-768 {
    display: none;
}

.marketing-text-768 h1 {
    font-size: 48px;
    color: #fff;
}

.marketing-text-768 h2 {
    font-size: 24px;
    color: #edbfff;
}

.marketing-text-768 p {
    color: #fff;
    font-size: 16px;
}

.marketing-text-480 {
	display: none;
}

.marketing-text-480 h1 {
    font-size: 36px;
    color: #fff;
}

.marketing-text-480 h2 {
    font-size: 18px;
    color: #edbfff;
}

.marketing-photo-wrapper {
    margin-right: 120px;
}

.image-480 {
    display: none;
}

.company-description {
    width: 100%;
    background: #6e4b7d;
}

.company-description-block {
    display: flex;
}

.company-description h3 {
    color: #fff;
}

.company-description p {
    color: #fff;
    opacity: 0.7;
}

.company-description span>a {
    color: #fff;
    text-decoration: none;
    text-align: right;
    display: block;
}

.company-description span>a:hover {
    font-weight: bold;
}

.about-company-block {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 80px 0 70px 0;
    margin-right: 60px;
}

.icon-block {
    
}

.company-text-description {
    display: flex;
    flex-direction: column;
}

.company-text-description a:hover {
	text-shadow:1px 1px 10px #fff;
}

.main-content-block {
    width: 100%;
    background: #f9f9f9;
    padding: 100px 0;
    border-bottom: solid 2px #eee;
}

.main-content-wrapper {
    display: flex;
    justify-content: center;
}

.review-block {
    background: #fff;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    width: 30%;
}

.review-photo {
    grid-row: 1 / 4;
}

.review-text h3 {
    font-size: 30px;
}

.review-text p {
    font-size: 16px;
}

.review-text h3>span {
    color: #f5ddff;
    font-weight: 800;
}

.review-text-768 {
	display: none;
}

.review-text-768 h3 {
	font-size: 24px;
}

.review-text-768 p {
	font-size: 16px;
}

.review-text-768 h3>span {
	color: #f5ddff;
    font-weight: 800;
}

.updates-block {
    margin-left: 60px;
}

.updates-block h3 {
    font-size: 32px;
}

.updates-content {
    display: flex;
    align-items: flex-start;
}

.updates-content img {
    height: 40px;
    margin-right: 19px;
    opacity: 0.5;
}

.updates-content ul {
    list-style-type: none;
}

.updates-photo {
    grid-row: 1 / 4;
}

.updates-text li {
    font-weight: 500;
}

.updates-text li>span {
    font-weight: 800;
}

.updates-text li>a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: right;
    margin-top: 26px;
    font-weight: 700;
}

.updates-text li>a:hover {
	text-shadow:1px 1px 10px #fff;
}

.logos-block {
    padding: 27px 0 30px;
}

.logos-img {
    width: 775px;
    height: 65px;
    background-image: url(./images/logos.png);
    margin: 0 auto;
}

.footer-description-wrapper {
    width: 100%;
    background: #ececec;
    padding: 100px 0;
}

.footer-blocks-wrapper {
    width: 100%;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}

.copyright-logo-block {
    font-size: 16px;
    margin-right: 60px;
}

.copyright-logo-block img {
    opacity: 0.5;
    height: 30px;
}

.copyright-logo-block span {
    display: block;
    opacity: 0.3;
    line-height: 1.5;
}

.copyright-logo-block p {
    opacity: 0.7;
}

.comments-block {
    font-size: 16px;
    margin-right: 60px;
}

.comments-block p {
    opacity: 0.7;
}

.comments-block h3 {
    font-size: 22px;
    font-weight: bold;
}

.news-block {
    font-size: 16px;
    margin-right: 60px;
}

.news-block p {
    opacity: 0.7;
}

.news-block h3 {
    font-size: 22px;
    font-weight: bold;
}

.news-block-480 {
    display: none;
    font-size: 16px;
}

.news-block-480 p {
    opacity: 0.7;
}

.news-block-480 h3 {
    font-size: 22px;
    font-weight: bold;
}

.footer-navigation-block {
    background: url(./images/footer-bg.png);
}

.footer-navigation-list {
    list-style-type: none;
    display: flex;
    padding: 45px 0;
}

.footer-navigation-list li {
    margin-right: 42px;
}

.footer-navigation-list li:last-child {
    margin-right: 0;
}

.footer-navigation-list a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.footer-navigation-list li:last-child {
    margin-left: 30%;
}

.design-copyright {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    align-self: flex-end;
}

.design-copyright-480 {
    display: none;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
    }

    .navigation-block {
        width: 768px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .logo-img {
        margin-left: 5px;
    }

    .navigation-list {
        margin-top: 40px;
    }

    .navigation-list li {
        margin-right: 30px;
    }

    .marketing-block {
        display: flex;
    }

    .marketing-text {
        display: none;
    }

    .marketing-text-768 {
        display: inline-block;
        margin-right: 142px;
    }

    .marketing-photo-wrapper {
        margin-right: 50px;
    }

    .about-company-block {
        margin-right: 40px;
    }

    .about-company-block {

    } 

    .review-block {
    	width: 313px;
    }

    .review-text {
    	display: none;
    }

    .review-text-768 {
    	display: block;
    }

    .review-text-768 h3>span:before {
        content: "\a";
        white-space: pre;
    }

    .updates-block h3 {
        font-size: 24px;
    }

    .copyright-logo-block {
        display: none;
    }

    .comments-block {
        display: none;
    }

    .news-block-480 {
        display: inline-block;
        margin-right: 60px;
    }

    .news-block {
        margin-left: 20px;
    }

    .logos-img {
        width: 768px;
    }

    .footer-navigation-list li {
        margin-right: 40px;
    }

    .footer-navigation-list li:last-child {
    	margin-left: 0;
    }

    .design-copyright {
    	margin-top: 40px; 
    }



    .footer-navigation-wrapper {
    	display: flex;
    	flex-direction: column;
    }

    .design-copyright-480 {
    	display: none;
    }

}

@media screen and (max-width: 480px) {
    .container {
        width: 480px;
        margin: 0 auto;
    }

    .navigation-list {
        display: block;
    }

    .navigation-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 23px 0;
    }

    .navigation-block-480 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation-list-480 li {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.4);
        width: 245px;
        height: 48px;
        line-height: 2;
    }

    .first-list {
        border-radius: 10px 10px 0 0;
    }

    .navigation-list-480 li>a {
        display: inline-block;
        color: #fff;
        font-family: 'league-gothic';
        font-size: 24px;
        font-weight: 800;
        text-decoration: none;
    }

    .navigation-list-480 li>a:active {
        text-decoration: underline;
        text-decoration-color: #eec0ff;
        text-decoration-thickness: 3px;
        padding: 0 3px;
    }

    .dropdown {
        display: none;
        background: rgba(0, 0, 0, 0.2);
    }

    .navigation-list-480 li:hover .dropdown {
        display: block;
        position: relative;
        text-shadow: #fff 0 0 10px;
    }

    .navigation-list-480 li:hover .dropdown>li {}

    .last-list {
        border-radius: 0 0 10px 10px;
    }

    .navigation-list-480 li:hover>.dropdown {
        display: block;
    }

    .marketing-block {
        height: 245px;
        display: flex;
        justify-content: space-between;
    }

    .marketing-text {
        margin-left: 23px;
    }

    .marketing-text-768 {
    	display: none;
    }

    .marketing-text-480 {
    	display: inline-block;
    	margin-left: 20px;
    }

    .marketing-photo-wrapper {
        
    }

    .marketing-photo-wrapper img {
        height: 259px;
    }

    .marketing-description-wrapper {
        margin-bottom: 38px;
        padding-bottom: 0;
    }

    .marketing-description {
        width: 100%;
    }

    .logo-img {
        margin: 0;
    }

    .navigation-list li {
        display: none;
    }

    .company-description-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 75px 0 45px;
    }

    .about-company-block {
        padding: 0 0 30px 0;
        margin: 0 20px;
    }

    .company-text-description {
        margin-left: 10px;
        width: 85%;
    }

    .main-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .review-block {
        width: 415px;
    }

    .updates-block {
        margin-top: 85px;
    }

    .updates-link-768 {
        display: none;
    }

    .logos-img {
        width: 480px;
        height: 214px;
        background-image: url(./images/logos_480px.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .footer-blocks-wrapper {
        display: flex;
        flex-direction: column;
    }

    .copyright-logo-block {
        display: none;
    }

    .comments-block {
        display: none;
    }

    .news-block {
        width: 95%;
        margin: 0 20px 64px 20px;
    }

    .news-block-480 {
        display: inline-block;
        width: 95%;
        margin: 0 20px 64px 20px;
    }

    .footer-description-wrapper {
        padding: 95px 0;
    }

    .footer-navigation-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .design-copyright {
        display: none;
    }

    .footer-navigation-list {
        margin: 0;
    }

    .footer-navigation-list li {
    	margin-right: 25px;
    }

    .design-copyright-480 {
        display: inline-block;
        align-self: center;
        margin-bottom: 65px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 320px;
        margin: 0 auto;
    }
    
    .logo-img {
    	margin-right: 0;
    }

    .marketing-photo-wrapper {
        display: none;
    }

    .navigation-block {
    	margin-left: 0;
    }

    .marketing-description-wrapper {
        margin-bottom: 0;
    }

    .marketing-description {
        background: transparent;
    }

    .navigation-list-480 li {
        background: transparent;
    }

    .marketing-block {
        background: transparent;
        align-items: center;
        justify-content: center;
    }

    .marketing-text {
        width: 55%;
    }

    .review-block {
    	width: 256px;
    }

    .updates-block {
        margin: 85px 20px;
    }

    .logos-img {
        width: 320px;
        height: 425px;
        background-image: url(./images/logos_320px.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .footer-navigation-list {
        display: none;
    }

    .design-copyright-480 {
        margin: 60px auto;
    }
}