* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
	flex-grow: 1;
}

.wrapper {
	background: #f9f9f9;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 15px;
}

.content {
	padding: 0 46px;
	background: #ffffff;
	flex: 1 0 auto;
}

.main-content-wrapper {
	display: flex;
	justify-content: space-between;
}

.title-logo {
	padding: 50px 0 42px 0;
}

.navigation-block {
	width: 100%;
	height: 40px;
	background: #555555;
	padding-bottom: 39px;
}

.navigation-list {
	display: inline-block;
	list-style-type: none;
	align-self: flex-start;
	justify-content: space-between;
	margin-right: 87px;
	margin-top: 7px;
}

.navigation-link {
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 9px 23px;
	text-align: center;
	width: 100px;
	height: 40px;
}

.navigation-link:active {
	background: #444444;
	border-right: 2px solid #838383;
	border-left: 2px solid #838383;
}

aside {
	margin-right: 49px;
}

.side-menu {
	width: 300px;
	list-style-type: none;
	font-weight: 400;
	margin: 40px 0 0 0;
	flex-basis: auto;
	flex: 1;
}

.side-menu li {
	line-height: 40px;
	border: 1px solid #c8c8c8;
	padding-left: 24px;
}

.side-menu li a {
	color: black;
	font-size: 12px;
	text-decoration: none;
}

.side-menu a:active {
	margin-left: 7px;
}

.side-menu li:active {
	background: #f9f9f9;
}

.side-menu-list {
	margin-top: 5px;
}

.item-info {
	margin: 40px 0 40px 0;
}

.item-info-image-wrapper {
	text-align: center;
	border: 1px solid #c8c8c8;
	padding: 59px 96px 52px 98px;
}

.item-info-description {
	font-size: 13px;
	line-height: 21px;
	margin: 40px 24px 63px 24px;
}


.footer {
	width: 100%;
  	height: 40px;
  	background: #e1e1e1;
  	color: #a6a6a6;
   	margin-bottom: 70px;
   	flex-shrink: 0;
}

.footer-list {
	display: inline-block;
	list-style-type: none;
	text-align: center;
	margin: 10px 96px 0 24px;
}

.footer-link {
	text-decoration: none;
	color: black;
	font-weight: 200;
	font-size: 12px;
}

.footer-link:hover {
	border-bottom: 1px solid black;
}

.copyright {
	text-decoration: none;
	color: black;
	font-weight: 200;
	font-size: 12px;
	list-style-type: none;
	display: inline-block;
	margin-left: 400px;
}

